@model Leaf.Models.Domain.Insumo

@{
    ViewData["Title"] = "Alterar Insumo";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<div class="paginaPadrao">
    <h2 class="h2tituloCadastro">Alterar Insumo</h2>

    <form asp-action="Atualizar" method="post" id="formCadastroInsumo">
        <!-- Exibir Pessoa Associada (somente leitura) -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label>Pessoa Associada</label>
                    <input type="text" class="form-control" value="@Model.Pessoa?.Nome" disabled />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <br />

                    <label asp-for="CodBarras">Código de Barras</label>
                    <input asp-for="CodBarras" class="form-control" placeholder="ex: 1234567890123" maxlength="15" required />
                    <span asp-validation-for="CodBarras" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <br />

                    <label asp-for="Descricao">Descrição do Insumo</label>
                    <input asp-for="Descricao" class="form-control" placeholder="ex: Fertilizante X" maxlength="100" required />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <br />

                    <label asp-for="UnidadeMedida">Unidade de Medida</label>
                    <input asp-for="UnidadeMedida" class="form-control" placeholder="ex: KG" maxlength="3" required />
                    <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <br />

                    <label asp-for="ValorUnitario">Valor Unitário</label>
                    <input asp-for="ValorUnitario" class="form-control" step="0.01" type="text" min="0" required />
                    <span asp-validation-for="ValorUnitario" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <br />

                    <label asp-for="QtdeEstoque">Quantidade em Estoque</label>
                    <input asp-for="QtdeEstoque" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="QtdeEstoque" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <br />

                    <label asp-for="Status">Status</label>
                    <select asp-for="Status" class="form-control">
                        @if (Model.Status == 1)
                        {
                            <option value="1">Ativo</option>
                            <option value="0">Desativado</option>
                        }
                        else
                        {
                            <option value="0">Desativado</option>
                            <option value="1">Ativo</option>
                        }
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- Campo Oculto para Armazenar o ID -->
        <input type="hidden" id="idPessoa" name="IdPessoa" value="@Model.IdPessoa" />
        <input type="hidden" id="idInsumo" name="IdInsumo" value="@Model.IdInsumo" />


        <div class="btnsControles mt-4">
            <button type="submit" name="action" value="atualizar" class="btn btn-success" id="btnSubmit">ATUALIZAR</button>
            <a href="@Url.Action("Index", "Insumo")" class="btn btn-danger">DESCARTAR</a>
        </div>
    </form>
</div>

