@model IEnumerable<Leaf.Models.Domain.Insumo>
@{
    ViewData["Title"] = "Insumos";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<br />
<h2 class="h2titulo">INSUMOS</h2>

<div class="paginaPadrao">
    <!-- Controle de Busca -->
    <div class="controleBusca">
        <form asp-action="Buscar" method="get">
            <div class="linha-superior-custom">
                <!-- Campo de busca por Descrição -->
                <div class="grupoBusca-custom">
                    <input type="text" class="form-control txtBuscar-custom" placeholder="Insumo..." name="descricao" aria-label="Recipient's username">
                </div>

                <!-- Campo de busca por Pessoa (CNPJ) -->
                <div class="grupoBusca-custom">
                    <input type="text" class="form-control txtBuscar-custom" placeholder="CNPJ da Pessoa..." name="pessoaNomeCnpj" aria-label="Recipient's username">
                </div>

                <!-- Filtro por Status -->
                <div class="grupoBusca-custom tipoBusca">
                    <select class="form-control cbBusca-custom bg-secondary text-light" name="status">
                        <option value="1">Ativo</option>
                        <option value="0">Desativado</option>
                        <option value="3">Todos</option>
                    </select>
                </div>

                <!-- Botão Buscar -->
                <div class="grupoBusca-custom botaoBusca">
                    <button class="btn btn-outline-secondary btnBuscar-custom" type="submit">Buscar</button>
                </div>

                <!-- Botão Limpar -->
                <div class="grupoBusca-custom botaoLimpar">
                    <button type="reset" class="btn btn-outline-secondary btnLimpar-custom" onclick="location.href='@Url.Action("Index")'">Limpar</button>
                </div>

                <!-- Botão Novo Cadastro de Insumo -->
                <div class="grupoBusca-custom btn-novo-container">
                    <button type="button" class="btn btn-success btnNovoCadastro-custom" onclick="location.href='@Url.Action("Cadastrar")'">Cadastrar Insumo</button>
                </div>
            </div>
        </form>
        <br />
        <br />
    </div>

    <!-- Tabela Responsiva -->
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Descrição</th>
                        <th scope="col" class="hide-column">Valor Unitário</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col" class="hide-column">Pessoa (CNPJ)</th>
                        <th scope="col" class="hide-column">Status</th>
                        <th scope="col">Ferramentas</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any() && Model != null)
                    {
                        @foreach (var insumo in Model)
                        {
                            <tr>
                                <td>@insumo.IdInsumo</td>
                                <td>@insumo.Descricao</td>
                                <td class="hide-column">@insumo.ValorUnitario.ToString("C")</td>
                                <td>@insumo.QtdeEstoque</td>
                                <td class="hide-column">
                                    @if (insumo.Pessoa != null)
                                    {
                                        <span> @insumo.Pessoa.Nome / @insumo.Pessoa.Cnpj </span>
                                    }
                                    else
                                    {
                                        <span>Pessoa não associada</span>
                                    }
                                </td>
                                <td class="hide-column">
                                    @if (insumo.Status == 1)
                                    {
                                        <span>Ativo</span>
                                    }
                                    else if (insumo.Status == 0)
                                    {
                                        <span>Desativado</span>
                                    }
                                    else
                                    {
                                        <span>Indefinido</span>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Editar", "Insumo", new { id = insumo.IdInsumo })">Editar</a> |
                                    <a href="@Url.Action("Detalhes", "Insumo", new { id = insumo.IdInsumo })">Detalhes</a>
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-center">Nenhum insumo encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
