@model Leaf.Models.Domain.Produto
@{
    ViewData["Title"] = $"Detalhes do Produto {Model.Descricao}";
}

<div class="paginaPadrao">
    <br />
    <h2 class="h2tituloCadastro">Detalhes do Produto @Model.Descricao</h2>
    <br />

    <!-- Estrutura de Tabela para Exibir Detalhes -->
    <table class="table table-bordered table-striped">
        <tbody>
            <!-- Código do Produto -->
            <tr>
                <th scope="row">Código</th>
                <td>@Model.IdProduto</td>
            </tr>

            <!-- Descrição -->
            <tr>
                <th scope="row">Descrição</th>
                <td>@Model.Descricao</td>
            </tr>

            <!-- Valor Unitário -->
            <tr>
                <th scope="row">Valor Unitário</th>
                <td>@Model.ValorUnitario.ToString("C")</td>
            </tr>

            <!-- Quantidade em Estoque -->
            <tr>
                <th scope="row">Quantidade em Estoque</th>
                <td>@Model.QtdeEstoque</td>
            </tr>

            <!-- Status -->
            <tr>
                <th scope="row">Status</th>
                <td>
                    @if (Model.Status == 1)
                    {
                        <span>Ativo</span>
                    }
                    else if (Model.Status == 0)
                    {
                        <span>Desativado</span>
                    }
                    else
                    {
                        <span>Indefinido</span>
                    }
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Botões de Ação -->
    <div class="btnsControles">
        <div class="btn-group align-items-end">
            <a href="@Url.Action("Index", "Produto")" class="btn btn-primary">Voltar para Lista</a>
            <a href="@Url.Action("Editar", "Produto", new { id = Model.IdProduto })" class="btn btn-warning">Editar</a>
        </div>
    </div>
</div>
