@model Leaf.Models.Domain.Produto
@{
    ViewData["Title"] = $"Editar Produto {Model.Descricao}";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<div class="paginaPadrao">
    <br />
    <h2 class="h2tituloCadastro">Editar Produto @Model.Descricao</h2>
    <br />
    <form asp-action="Atualizar" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label asp-for="Descricao"></label>
                    <input asp-for="Descricao" value="@Model.Descricao" class="form-control" placeholder="ex: Alface" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label asp-for="ValorUnitario">Valor Unitário</label>
                    <input asp-for="ValorUnitario" value="@Model.ValorUnitario" class="form-control" step="0.01" type="text" required />
                </div>
            </div>
        </div>

        <div class="row">           
            <div class="col-md-6">
                <div class="form-group">
                    <br />
                    <label for="Status">Status</label>
                    <select name="Status" class="form-control" asp-for="Status">
                        @if (Model.Status == 1)
                        {
                            <option value="1" selected>Ativo</option>
                            <option value="0">Desativado</option>
                        }
                        else if (Model.Status == 0)
                        {
                            <option value="1">Ativo</option>
                            <option value="0" selected>Desativado</option>
                        }
                    </select>
                </div>
            </div>
        </div>


        <input type="hidden" asp-for="IdProduto" value="@Model.IdProduto" />
        <br />
        <div class="btnsControles">
            <a href="@Url.Action("Index", "Produto")" class="btn btn-danger">DESCARTAR</a>
            <button type="submit" class="btn btn-success">CONFIRMAR</button>
        </div>
        <br />
        <br />
        <br />
    </form>
</div>

<
