@model Leaf.Models.ViewModels.CompraViewModel
@{
	ViewData["Title"] = "Detalhes da Compra - Atualizar";
	var listaEntregadores = ViewData?["Entregadores"];
}

@if (TempData["MensagemErro"] != null)
{
	<span id="eventoErro" class="alert alert-danger">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
	<span id="eventoSucesso" class="alert alert-success">@TempData["MensagemSucesso"]</span>
}

<div class="container mt-5 mp-5 pl-5 mb-5" style="padding-left: 70px">
	<!-- Informações principais da compra -->
	<input type="hidden" asp-for="IdCompra" />

	<div class="card shadow-sm">
		<div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
			<h3 class="card-title mb-0">Detalhes da Compra #@Model.IdCompra</h3>
			<span class="badge badge-pill
                        @(Model.Compra.Status == "EM" ? "badge-info" : Model.Compra.Status == "BX" ? "badge-success" : Model.Compra.Status == "CA" ? "badge-danger" : "badge-secondary")">
				@Model.Compra.Status
			</span>
		</div>

		<div class="card-body">
			<!-- Sessão 1: Informações da Compra -->
			<div class="row mb-4">
				<div class="col-md-4 mb-3">
					<div class="card border-0">
						<div class="card-body">
							<h5 class="card-title"><i class="fas fa-info-circle"></i> Informações da Compra</h5>
							<br />
							<p><strong>Solicitante: </strong>@(@Model.Vendedor?.Nome ?? "Não atribuído")</p>
							<p><strong>Data de Emissão: </strong>@(Model.Compra?.DtaEmissao != null ? Model.Compra.DtaEmissao.ToString("dd/MM/yyyy") : "Data não disponível")</p>
							@if (Model.Compra?.DtaBaixa != null)
							{
								<p><strong>Data da Baixa: </strong>@(Model.Compra?.DtaBaixa != null ? Model.Compra.DtaBaixa?.ToString("dd/MM/yyyy") : "Data não disponível")</p>

							}
							@if (Model.Compra?.DtaCancelamento != null)
							{
								<p><strong>Data de Cancelamento: </strong>@(Model.Compra?.DtaCancelamento != null ? Model.Compra.DtaCancelamento?.ToString("dd/MM/yyyy") : "Data não disponível")</p>

							}

						</div>
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="card border-0">
						<div class="card-body">
							<h5 class="card-title"><i class="fas fa-user"></i> Fornecedor</h5>
							<br />
							<p><strong>Nome: </strong>@(@Model.Fornecedor?.Nome ?? "Nome não disponível")</p>
							<p><strong>CNPJ: </strong>@(@Model.Fornecedor?.Cnpj ?? "CNPJ não disponível")</p>
							<p><strong>Telefone: </strong>@(@Model.Fornecedor?.Telefone1 ?? "Telefone não disponível")</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 mb-3">
					<div class="card border-0">
						<div class="card-body">
							<h5 class="card-title"><i class="fas fa-user"></i> Totais da Compra</h5>
							<br />
							<p><strong>Valor Total:</strong> @(Model.Compra?.ValorTotal != (int)0 ? Model.Compra?.ValorTotal.ToString("#,##0.00") : Model.ItensCompra.Sum(item => item.SubTotal).ToString("#,##0.00"))</p>
							<p><strong>Total de itens:</strong> @(Model.ItensCompra != null ? Model.ItensCompra.Count : 0)</p>
							<p><strong>Quantidade total:</strong> @(Model.ItensCompra != null ? Model.ItensCompra.Sum(item => item.Quantidade) : 0)</p>
						</div>
					</div>
				</div>
			</div>

			<!-- Sessão 2: Lista de Produtos da Compra -->
			<h5 class="mt-4"><i class="fas fa-boxes"></i> Itens da Compra</h5>
			<div class="table-responsive mt-3">
				<table class="table table-hover table-bordered">
					<thead class="bg-dark text-white">
						<tr>
							<th>Descrição</th>
							<th>Quantidade</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody>
						@if (Model?.ItensCompra != null && Model.ItensCompra.Any())
						{
							foreach (var item in Model.ItensCompra)
							{
								<tr>
									<td>@(item.insumo.Descricao ?? "Insumo não encontrado")</td>
									<td>@item.Quantidade</td>
									<td>R$ @item.SubTotal.ToString("#,##0.00")</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td colspan="3" class="text-center">Nenhum item encontrado.</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>


		<!-- Botões de Controle -->
		<div class="text-right m-3">
			<a href="@Url.Action("Index", "RelatorioCompras")" class="btn  btn-outline-secondary"><i class="fas fa-times"></i> Voltar</a>
		</div>
		<br />
	</div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
