@model IEnumerable<Leaf.Models.Domain.Pessoa>
@{
    ViewData["Title"] = "Pessoas";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<br />
<h2 class="h2titulo">PESSOAS</h2>

<div class="paginaPadrao">
    <!-- Controle de Busca -->
    <div class="controleBusca">

        <form asp-action="Buscar" method="get">
            <div class="linha-superior-custom">
                <!-- Campo de busca por Nome -->
                <div class="grupoBusca-custom">
                    <input type="text" class="form-control txtBuscar-custom" placeholder="Nome da Pessoa..." name="nome" aria-label="Recipient's username">
                </div>

                <!-- Filtro por Tipo (Pessoa Física ou Jurídica) -->
                <div class="grupoBusca-custom tipoBusca">
                    <select class="form-control cbBusca-custom bg-secondary text-light" name="tipo">
                        <option value="">Tipo</option>
                        <option value="PF">Pessoa Física</option>
                        <option value="PJ">Pessoa Jurídica</option>
                    </select>
                </div>

                <!-- Botão Buscar -->
                <div class="grupoBusca-custom botaoBusca">
                    <button class="btn btn-outline-secondary btnBuscar-custom" type="submit">Buscar</button>
                </div>

                <!-- Botão Limpar -->
                <div class="grupoBusca-custom botaoLimpar">
                    <button type="reset" class="btn btn-outline-secondary btnLimpar-custom" onclick="location.href='@Url.Action("Index")'">Limpar</button>
                </div>

                <!-- Botão Novo Cadastro de Pessoa -->
                <div class="grupoBusca-custom btn-novo-container">
                    <button type="button" class="btn btn-success btnNovoCadastro-custom" onclick="location.href='@Url.Action("Cadastrar")'">Cadastrar Pessoa</button>
                </div>
            </div>
        </form>
        <br />
        <br />

    </div>

    <!-- Tabela Responsiva -->
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">CPF/CNPJ</th>
                        <th scope="col">Nome</th>
                        <th scope="col" class="hide-column">Tipo</th>
                        <th scope="col" class="hide-column">Telefone</th>
                        <th scope="col" class="hide-column">Email</th>
                        <th scope="col">Ferramentas</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any() && Model != null)
                    {
                        @foreach (var pessoa in Model)
                        {
                            <tr>
                                <td>@(string.IsNullOrEmpty(pessoa.Cpf) ? pessoa.Cnpj : pessoa.Cpf)</td>
                                <td>@pessoa.Nome</td>
                                <td class="hide-column">@pessoa.Tipo</td>
                                <td class="hide-column">@pessoa.Telefone1</td>
                                <td class="hide-column">@pessoa.Email1</td>
                                <td>
                                    <a href="@Url.Action("Editar", "Pessoa", new { id = pessoa.IdPessoa })">Editar</a> |
                                    <a href="@Url.Action("Detalhes", "Pessoa", new { id = pessoa.IdPessoa })">Detalhes</a>
                                </td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-center">Nenhuma pessoa encontrada.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
