@model IEnumerable<Leaf.Models.ViewModels.CompraViewModel>
@{
    ViewData["Title"] = "Compra";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<br />
<h2 class="h2titulo">COMPRAS</h2>

<div class="paginaPadrao">
    <!-- Controle de Busca -->
    <div class="controleBusca">

        <form asp-action="Buscar" method="get">
            <div class="linha-superior-custom">
                <!-- Campo de busca por numero -->
                <div class="grupoBusca-custom">
                    <input type="text" class="form-control txtBuscar-custom" placeholder="Nº da Compra" name="numeroConta" aria-label="Recipient's username">
                </div>

                <!-- Filtro por status -->
                <div class="grupoBusca-custom tipoBusca">
                    <select class="form-control cbBusca-custom bg-secondary text-light" name="status">
                        <option value="">Status</option>
                        <option value="EM">Emitido</option>
                        <option value="BX">Baixado</option>
                        <option value="CA">Cancelado</option>
                    </select>
                </div>

                <!-- Botão Buscar -->
                <div class="grupoBusca-custom botaoBusca">
                    <button class="btn btn-outline-secondary btnBuscar-custom" type="submit">Buscar</button>
                </div>

                <!-- Botão Limpar -->
                <div class="grupoBusca-custom botaoLimpar">
                    <button type="reset" class="btn btn-outline-secondary btnLimpar-custom" onclick="location.href='@Url.Action("Index")'">Limpar</button>
                </div>

                <!-- Botão Nova Ordem de Compra -->
                <div class="grupoBusca-custom btn-novo-container">
                    <button type="button" class="btn btn-success btnNovoCadastro-custom" onclick="location.href='@Url.Action("Emitir")'">Nova Compra</button>
                </div>
            </div>
        </form>
        <br />
        <br />

    </div>

    <!-- Tabela Responsiva -->
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Nº Compra</th>
                        <th scope="col" class="text-center">Valor Total</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="hide-column">Pessoa</th>
                        <th scope="col" class="hide-column text-center">Data Emissão</th>
                        <th scope="col" class="hide-column">Solicitante</th>
                        <th scope="col" class="text-center">Ferramentas</th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var compra in Model)
                        {
                            <tr>
                                <td class="text-center">@compra.IdCompra</td>
                                <td class="text-center">@(compra?.Compra?.ValorTotal != null ? compra.Compra.ValorTotal.ToString("C") : "Não disponível")</td>
                                <td class="text-center">@(compra?.Compra?.Status ?? "Não disponível")</td>
                                <td class="hide-column">@(compra?.Fornecedor?.Nome ?? "Não disponível")</td>
                                <td class="hide-column text-center">@(compra?.Compra?.DtaEmissao.ToString("dd/MM/yyyy") ?? "Não disponível")</td>
                                <td class="hide-column">@(compra?.Administrativo?.Nome ?? "Não disponível")</td>

                                @if (compra?.Compra.Status == "BX" || compra?.Compra.Status == "CA")
                                {
                                    <td class="text-center">
                                        <a href="@Url.Action("Imprimir", "Compra", new { id = compra?.IdCompra })" target="_blank">Imprimir</a>
                                    </td>

                                }else
                                {
                                    <td class="text-center">
                                        <a href="@Url.Action("Atualizar", "Compra", new { id = compra?.IdCompra })">Atualizar</a> | <a href="@Url.Action("Imprimir", "Compra", new { id = compra?.IdCompra })" target="_blank">Imprimir</a>
                                    </td>
                                }

                               
                            </tr>
                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center"></td>
                        </tr>
                        <tr>
                            <td colspan="8" class="text-center">Nenhuma compra encontrada.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
