@model Leaf.Models.Usuario
@{
    ViewData["Title"] = $"Editar - {Model.Nome}";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<div class="paginaPadrao">
    <br />
    <h2>Editar cadastro</h2>
    <br />

    <form asp-action="Atualizar" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input name="Nome" value="@Model.Nome" type="text" class="form-control" id="nomeUsuario" required />
    </div>

    <div class="form-group">
        <label for="Login">Login</label>
        <input name="Login" value="@Model.Login" type="text" class="form-control" id="loginUsuario" required />
    </div>

    <div class="form-group">
        <label for="Senha">Senha</label>
        <input name="Senha" type="password" class="form-control" id="senhaUsuario" placeholder="******" required />
    </div>

    <div class="form-group">
        <label for="confSenha">Confirmar senha</label>
        <input name="confSenha" type="password" class="form-control" id="confirmaSenha" placeholder="*****" required>
    </div>

    <div class="form-group">
        <label for="DepartamentoId">Departamento</label>
            <select name="IdDpto" class="form-control" id="departamentoUsuario" required>
                @foreach (var departamento in ViewBag.Departamentos)
                {
                    <option value="@departamento.IdDpto" selected="@(Model.IdDpto == departamento.IdDpto)">
                        @departamento.Descricao
                    </option>
                }
            </select>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-secondary">Cancelar</a>
</form>

</div>
