@model Leaf.Models.Domain.Usuario
@{
    ViewData["Title"] = $"Editar - {Model.Nome}";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<div class="paginaPadrao">
    <br />
    <h2 class="h2tituloCadastro">Editar cadastro</h2>

    <br />

    <form asp-action="Atualizar" method="post">
        <div class="form-group">
            <br />
            <label for="Nome">Nome</label>
            <input name="Nome" value="@Model.Nome" type="text" class="form-control" id="nomeUsuario" required />
        </div>

        <div class="form-group">
            <br />
            <label for="Login">Login</label>
            <input name="Login" value="@Model.Login" type="text" class="form-control" id="loginUsuario" required />
        </div>

        <div class="form-group">
            <br />
            <label for="Senha">Senha</label>
            <input name="Senha" value="@Model.Senha" type="password" class="form-control" id="senhaUsuario" placeholder="******" required />
        </div>

        <div class="form-group">
            <br />
            <label for="confSenha">Confirmar senha</label>
            <input name="confSenha" type="password" class="form-control" id="confirmaSenha" placeholder="*****" required>
        </div>
    
        <div class="form-group form-check ">
            <br />
            <input type="checkbox" class="form-check-input" id="mostrarSenha">
            <label class="form-check-label" for="mostrarSenha">Mostrar senha</label>
        </div>


        <div class="form-group">
            <br />
            <label for="DepartamentoId">Departamento</label>
                <select name="IdDpto" class="form-control" id="departamentoUsuario" required>
                    @foreach (var departamento in ViewBag.Departamentos)
                    {
                        <option value="@departamento.IdDpto" selected="@(Model.IdDpto == departamento.IdDpto)">
                            @departamento.Descricao
                        </option>
                    }
                </select>
        </div>

        <div class="form-group">
            <br />
            <label for="Status">Status</label>
            <select name="Status" class="form-control" id="statusUsuario">
                @if (Model.Status == 1)
                {
                    <option value="1" selected>Ativo</option>
                    <option value="0">Desativado</option>
                }
                else if (Model.Status == 0)
                {
                    <option value="1">Ativo</option>
                    <option value="0" selected>Desativado</option>
                }
            </select>
        </div>

        <input type="hidden" name="Id" value="@Model.Id" />

        <br />

        <div class="btnsControles">
            <button type="submit" class="btn btn-success">CONFIRMAR</button>
            <a href="@Url.Action("Index", "Usuario")" class="btn btn-danger">CANCELAR</a>
        </div>

        <br />
        <br />
        <br />

    </form>

</div>
