@model IEnumerable<Usuario>
@{
    ViewData["Title"] = "Usuários";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<br />
<h2 class="h2titulo">USUÁRIOS</h2>

<div class="paginaPadrao">
    <!-- Controle de Busca -->
    <div class="controleBusca">
        <form asp-action="Buscar" method="get">
            <div class="linha-superior-custom">
                <!-- Campo de busca por Nome -->
                <div class="grupoBusca-custom">
                    <input type="text" class="form-control txtBuscar-custom" placeholder="Nome do Usuário..." name="nome" aria-label="Recipient's username">
                </div>

                <!-- Filtro por Departamento -->
                <div class="grupoBusca-custom tipoBusca">
                    <select class="form-control cbBusca-custom bg-secondary text-light" id="departamentoUsuario" name="IdDpto">
                        <option value="">Departamento</option>
                        @foreach (var departamento in ViewBag.Departamentos)
                        {
                            <option value="@departamento.IdDpto">@departamento.Descricao</option>
                        }
                    </select>
                </div>

                <!-- Botão Buscar -->
                <div class="grupoBusca-custom botaoBusca">
                    <button class="btn btn-outline-secondary btnBuscar-custom" type="submit">Buscar</button>
                </div>

                <!-- Botão Limpar -->
                <div class="grupoBusca-custom botaoLimpar">
                    <button type="reset" class="btn btn-outline-secondary btnLimpar-custom" onclick="location.href='@Url.Action("Index")'">Limpar</button>
                </div>

                <!-- Botão Novo Cadastro de Usuário -->
                <div class="grupoBusca-custom btn-novo-container">
                    <button type="button" class="btn btn-success btnNovoCadastro-custom" onclick="location.href='@Url.Action("Criar")'">Novo Usuário</button>
                </div>
            </div>
        </form>
        <br />
        <br />
    </div>

    <!-- Tabela Responsiva -->
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Usuário</th>
                        <th scope="col" class="hide-column">Nome</th>
                        <th scope="col">Login</th>
                        <th scope="col" class="hide-column">Senha</th>
                        <th scope="col" class="hide-column">Departamento</th>
                        <th scope="col" class="hide-column">Status</th>
                        <th scope="col">Ferramentas</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model)
                    {
                        <tr>
                            <td>@usuario.Id</td>
                            <td class="hide-column">@usuario.Nome</td>
                            <td >@usuario.Login</td>
                            <td class="hide-column">@usuario.Senha</td>
                            <td class="hide-column">
                                @if (@usuario.Departamento != null)
                                {
                                    @usuario.Departamento.Descricao
                                }
                                else
                                {
                                    <span>Departamento não encontrado</span>
                                }
                            </td>
                            <td class="hide-column">
                                @if (usuario.Status == 1)
                                {
                                    <span>Ativo</span>
                                }
                                else if (usuario.Status == 0)
                                {
                                    <span>Desativado</span>
                                }
                                else
                                {
                                    <span>Indefinido</span>
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Editar", "Usuario", new { id = usuario.Id })">Editar</a> |
                                <a href="@Url.Action("Detalhes", "Usuario", new { id = usuario.Id })">Detalhes</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
