@model IEnumerable<Leaf.Models.Usuario>
@{
    ViewData["Title"] = "Usuários";
}

@if (TempData["MensagemErro"] != null)
{
    <span id="eventoErro">@TempData["MensagemErro"]</span>
}
else if (TempData["MensagemSucesso"] != null)
{
    <span id="eventoSucesso">@TempData["MensagemSucesso"]</span>
}

<br />

<h2>USUÁRIOS</h2>

<div class="paginaPadrao">
    <!-- Controle de Busca -->
    <div class="controleBusca">
        <form asp-action="Buscar" method="get">
            <div class="linha-superior">
                <!--Campo de busca-->
                <div class="input-grupo">
                    <input type="text" class="form-control txtBuscar" placeholder="Nome.." name="nome" aria-label="Recipient's username">

                    <!--Departamento-->
                    <select class="form-control cbDepartamentoHome bg-secondary text-light" id="departamentoUsuario" name="IdDpto">
                        <option value="">Departamento</option>
                        @foreach (var departamento in ViewBag.Departamentos)
                        {
                            <option value="@departamento.IdDpto">@departamento.Descricao</option>
                        }
                    </select>

                    <!--Buscar-->
                    <button class="btn btn-outline-secondary btnBuscar" type="submit">Buscar</button>
                    <!--Limpar-->
                    <button type="reset" class="btn btn-outline-secondary btnLimpar" onclick="location.href='@Url.Action("Index")'">Limpar</button>
                </div>
                <!--Novo usuario-->
                <button type="button" class="btn btn-success btnNovoUsuario" onclick="location.href='@Url.Action("Criar")'">Novo Usuário</button>
            </div>
        </form>
    </div>

    <div class="tableUsuarios">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Usuário</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Login</th>
                    <th scope="col">Senha</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ferramentas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Senha</td>
                        <td>
                            @if(@usuario.Departamento != null)
                            {
                                @usuario.Departamento.Descricao
                            }
                            else
                            {
                                <span>Departamento não encontrado</span>
                            }
                        </td>
                        <td>
                            @if (usuario.Status == 1)
                            {
                                <span>Ativo</span>
                            }
                            else if (usuario.Status == 0)
                            {
                                <span>Desativado</span>
                            }
                            else
                            {
                                <span>Indefinido</span>
                            }
                        </td>
                        <td colspan="2">
                            <a href="@Url.Action("Editar", "Usuario", new { id = usuario.Id })">Editar</a> |
                            <a href="@Url.Action("Excluir", "Usuario", new { id = usuario.Id })">Excluir</a>
                        </td>
                        
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>